body{padding: 0%; margin: 0%;
    text-align: justify;
    font-family: Inter;}

/*page 1*/
#page1{}

#barre{display: flex;
    justify-content: center; 
    margin-top: 1%;}

#menu{display: flex; 
    width: 85%;
    background-color: #D9D9D9;
    border-radius :26px; 
    padding:1% ; 
    justify-content:space-evenly}

#menu a{text-decoration: none;
    color: black;}

#menu a:hover{color: #8C01E1;}

#titre {margin: 5%;
    width: 35%;
    height:500px;
    border-radius: 26px;
    background-color: #c6c6f1;
    text-align:center;
    justify-content: center;}

.Dedal{display:flex;
    justify-content: center;}
.des{color: #8C01E1;padding : 1%}


#contenu {padding: 2%; 
    background-color: #606082;
    border-radius :26px; color: #FFF;font-size: 20px;}


#oeuvre {display :flex;
    overflow: scroll; 
    margin : 2%;
    }
#oeuvre img{height: 332px;border-radius: 27px;}

  /*  text-decoration: none;
    overflow: scroll
    align-content: flex-end;

    @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }
      }*/ 
    