body {
  padding: 0%;
  margin: 0%;
  text-align: justify;
  font-family: Inter;
}

p {font-family: 'Inter', sans-serif;
  font-size: 14px;
}

/*page 1*/
#page1 {background-image: url("imagess/fond.png"); 
        background-color: #C4C5FF;
        background-repeat: no-repeat;
}

#barre {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  margin-bottom: 3%;
}

#menu {
  display: flex;
  width: 85%;
  background-color: #d9d9d9;
  border-radius: 26px;
  padding: 1%;
  justify-content: space-evenly;
}

#menu a {
  text-decoration: none;
  color: black;
}

#menu a:hover {
  color: #8c01e1;
}

#titre {
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: 35%;
  height: 500px;
  border-radius: 26px;
  background-color: #c6c6f1;
  justify-content: center;
  margin-left: 50%;}

#espace{height:100px}

h1 {font-family: 'Inter', sans-serif;
  font-size: 2.5em;
}

.Dedal {
  display: flex;
  justify-content: center;
}
.des {
  color: #8c01e1;
  padding-left: 1%;
  padding-right: 1%;}

h4 {margin: -10px;
   font-size: 1.25rem;
  text-align: center;
  font-family: 'Inter', sans-serif;}

/*page 2*/

#contenu {margin-top: -4%;
  padding: 2%;
  background-color: #606082;
  border-radius: 3.375rem;
  color: #fff;
  font-size: 1.25rem;}

#oeuvre {
  display: flex;
  overflow: scroll;
  margin: 2%;}

#oeuvre img {width: 19.4375rem;
height: 20.73006rem;
 border-radius: 1.6875rem;
  margin-right: 37px;}



/*artistes*/
#artistes{display: flex;
    overflow: scroll;}

#artistes img{margin-right: 37px;
              width: 18.25rem;
              height: 19.51444rem;
              border-radius: 1.6875rem;}

#citation {color:#C4C5FF;font-size: 2.25rem;}
#auteur {font-size: 1.25rem;}

/*artiste page indiviuel*/
#Artiste {display:flex}
#artistetext{margin: 1% 5% 1% 5%}
#artistetext h3{text-decoration-line: underline;}

#Artiste img{width: 21.75rem;
             height: 21.8125rem;
             flex-shrink: 0;
             border-radius: 2.375rem;}

#oeuvreartistes {display: flex;}

#oeuvreartistes img{width: 15.875rem;
                    height: 15.95725rem;
                    margin-right: 10px;
                    border-radius: 2.125rem;}

/*a propos*/
#Apropos {display:flex}
#Apropos img{width: 24.1875rem;
height: 36.25rem;
border-radius: 2.0625rem;}
#Apropos section{margin: 5%;}

/*formulaire*/
#Formulaire{margin:  100px 50px 230px 50px;
            align-items: center;
            flex-direction: column;
            display: flex;}

#Formulaire div{padding: 1% 4%;
                border-radius: 18px;
                background: #C6C6F1;
                text-align: center; 
                color:black;
                margin: 3%;}
#Formulaire div label{position: absolute; color: gray;}

button {font-size: 24px;
    width: 10.75rem;
    height: 3.0625rem;
    border-radius: 1.125rem;;
    background: #C6C6F1;
    float: right}

/*copyright*/
#copyright {
  background-color: #30223e;
  border-radius: 26px 26px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -10%;
}

/*  
    overflow: scroll
    align-content: flex-end;

    @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }
      }*/
