body {
  padding: 0%;
  margin: 0%;
  text-align: justify;
  font-family: Inter;
}

p {font-family: 'Inter', sans-serif;}

/*page 1*/
#page1 {background-image: url("imagess/fond.jpeg"); 
        background-size: cover;
        background-color: #C4C5FF;
        background-repeat: no-repeat;
}

#barre {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  margin-bottom: 3%;
}

#menu {
  display: flex;
  width: 85%;
  background-color: #d9d9d9;
  border-radius: 26px;
  padding: 1%;
  justify-content: space-evenly;
}

#menu a {
  text-decoration: none;
  color: black;
}

#menu a:hover {
  color: #8c01e1;
}

#titre {
  display: flex;
  flex-direction: column;
  padding: 3%;
  width: 35%;
  height: 500px;
  border-radius: 26px;
  background-color: #c6c6f1;
  justify-content: center;
  margin-left: 50%;}

#espace{height:100px}

h1 {font-family: 'Inter', sans-serif;
  font-size: 2.5em;
}

.Dedal {
  display: flex;
  justify-content: center;
}
.des {
  color: #8c01e1;
  padding-left: 1%;
  padding-right: 1%;}

h4 {margin: -10px;
  text-align: center;
  font-family: 'Inter', sans-serif;}

/*page 2*/

#section p{max-width:70%}

#contenu {margin-top: -4%;
  padding: 2%;
  background-color: #606082;
  border-radius: 3.375rem;
  color: #fff;}

#section{margin-bottom:10%}
#oeuvre {
  display: flex;
  overflow: scroll;
  margin: 2%;}

#oeuvre img {width: 19.4375rem;
height: 20.73006rem;
 border-radius: 1.6875rem;
  margin-right: 37px;}

figcaption {color: #FFF;
                       font-size: 1.25rem;text-align: center;
                       background: rgba(0, 0, 0, 0.35);
                       margin-top: 14.67rem;
                       border-radius: 0rem 0rem 1.6875rem 1.6875rem;
                       width: 19.4375rem;
                       height: 6.0625rem;
                       position: absolute;}

#oeuvre p {width:70%}



/*artistes*/
#artistes{margin-left: 3%;
          display: flex;
          overflow: scroll;
          justify-content: center;}

#artistes img{margin-right: 37px;
              width: 18.25rem;
              height: 19.51444rem;
              border-radius: 1.6875rem; 
              object-fit:cover}


#citation {color:#C4C5FF;
           font-size: 2.25rem;
           margin: 10% 5%;}
#auteur {font-size: 1.25rem;}

/*artiste page indiviuel*/
#Artiste {display:flex; margin:2% 10%}
#artistetext{margin: 1% 5% 1% 5%}
#artistetext h2{text-decoration-line: underline;}

#Artiste img{width: 21.75rem;
             height: 21.8125rem;
             flex-shrink: 0;
             border-radius: 2.375rem;}

#oeuvreartistes {display: flex; margin: 0% 5% 10%}

#oeuvreartistes img{width: 15.875rem;
                    height: 15.95725rem;
                    margin-right: 20px;
                    border-radius: 2.125rem;}

/*a propos*/
#Apropos {display:flex; margin: 10%}
#Apropos img{width: 24.1875rem;
height: 36.25rem;
border-radius: 2.0625rem;}
#Apropos section{margin: 5%;}

/*formulaire*/
#Formulaire{margin: 10% 20% 30% 20%;
            flex-direction: column;
            display: flex;}
#Formulare #titreF{justify-content: center; text-align:center}
#Formulaire div{padding: 2% 4%;
                border-radius: 18px;
                background: #C6C6F1; 
                color:black;
                margin: 3%;}
#Formulaire div label{position: absolute; color: gray;}

input {border: none; outline: none;background:#C6C6F1}



button {font-size: 24px;
    width: 10.75rem;
    height: 3.0625rem;
    border-radius: 1.125rem;
    background: #C6C6F1;
    float: right}

/*copyright*/
#copyright {font-size: 0.75rem;
  background-color: #30223e;
  border-radius: 26px 26px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: -10%; 
  color:white;
}

@media only screen and (max-width:861px){
  #page1{flex-direction: column;
    display: flex;}
  #barre {width: 90%;}
  #menu{ padding: 3%;}
  #titre{ padding: 10%; margin: 3%; width: auto;}
  #contenu {
    margin-top: -10%;}

  #oeuvre img {
    width: 12.337rem;
    height: 14.089rem;}

  #oeuvreartistes {
    display: flex;
    margin: 3% 5% 5%;
    flex-wrap: wrap;}
  
  #artistes {
    justify-content: normal;}
  
  #artistes img {
    width: 15.02819rem;
    height: 15.81375rem;}
  
  #oeuvreartistes img {
    width: 11.875rem;
    height: 13.375rem;

  #Artiste img {
    width: 13.75rem;
    height: 14.375rem;}
  
  #Apropos img {
    object-fit: cover;
    width: 7.125rem;
    height: 58.625rem;

  #copyright {margin-top:-10%}

}


