/*index*/
  
body {
  padding: 0%;
  margin: 0%;
  text-align: justify;
  font-family: Inter;
  background-color: #30223E
} 
img{
    width: 25.875rem;
    height: 24.875rem;
    flex-shrink: 0;
}

/*page principale*/
