/*index*/
  
body {
  padding: 0%;
  margin: 0%;
  text-align: justify;
  font-family: Inter;
  background-color: #30223E;
  display:flex;
  align-items:center;
} 
img{
    width: 25.875rem;
    height: 24.875rem;
    border-radius: 25.875rem;
}

button {
    font-size: 24px;
    width: 10.75rem;
    height: 3.0625rem;
    border-radius: 1.125rem;
    background: #C4C5FF;
    float: right
       }
  
    
/*page principale*/
