/*index*/
  
body {
  padding: 0%;
  margin: 0%;
  text-align: justify;
  font-family: Inter;
  background-color: #30223E
} 
img{margin-right: 37px;
              width: 18.25rem;
              height: 19.51444rem;
              border-radius: 1.6875rem;}

/*page principale*/
